*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    max-width: 1200px;
    margin: auto;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/jia-ye-nxlF27TJQTk-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
} 
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}

.title{
    position: absolute;
    width:90%;
    top:45%;
    left:56%;
    transform: translate(-40%,-50%);
}

.title h1{
    color: white;
    font-size: 70px;
}

.button{
    position: absolute;
    width:800px;
    top:55%;
    left:67%;
    transform: translate(-50%,-50%);
}

.bttn{
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.bttn:hover{
    background-color: white;
    color: black;
    transition: 0.2 ease;
}

.logo img{
    float: left;
    width: 150px;
    height: 90px;
}

body input[type="submit"]
{
    position: absolute;
    /* width:800px; */
    top:85%;
    left:50%;
    transform: translate(-50%,-50%);
   
    border: none;
    outline: none;
    height: 40px;
    background: #1c95e6;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 10px;
}

